h1{
    text-align: center;
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 30px; 
    color: #EBD758; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68; 
    
}
body{
    font-family: 'Inconsolata', monospace;
    background: linear-gradient(rgb(0, 238, 255), pink);
}
button {
    font-family: monospace;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .5s;
  }
  
  button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }
section{
    margin: 1%;
    border: double 5px rgb(28, 40, 94) ;
    background-color: rgba(24, 15, 44, 0.8);
    color: white;
}
section{
    margin: 5%;
    border-radius: 50px; 
    color: white;  
}
button{
    margin-left: 47%;
}
p{
    text-align: center;
}
h3{
    text-align: center;
font-family: Arial Black; 
font-weight: bold; 
font-size: 30px; 
color: #74a0ad; 
text-shadow: 0 1px 0 #000000, 0 2px 0 #000000, 0 3px 0 #000000, 0 4px 0 #000000, 0 5px 0 #000000, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}